body {
    background-color: darkseagreen;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
button {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    background-color: blueviolet;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
}
